{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

	<header>
	
		<nav class="navbar navbar-dark bg-homebudget navbar-expand-md">
		
			<a class="navbar-brand" href="/Home/index"><img src="/img/home.png" alt=""></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="mainmenu">
			
				<ul class="navbar-nav mr-auto"></ul>
			
				<form action="/login/create" class="form-inline navbar-right"  method="post">
					<div class="row">
						<div class="col-md-5">		
							<div class="inputWithIcon inputIconBg">
								<input type="text" class="form-control mr-1" id="log" name="log" placeholder="login">
								<i class="fa fa-user"  aria-hidden="true"></i>
							</div>						
							<div class="checkbox">
								<label>
									<input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} />Pamiętaj mnie
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">					
							<div class="inputWithIcon inputIconBg">
								<input type="password" class="form-control mr-1" id="logPassword" name="logPassword" placeholder="hasło">
								<i class="fa fa-key"  aria-hidden="true"></i>
							</div>
							
							<div class="forgotpassword">
								<a href="/password/forgot">Zapomniałeś hasła?</a>
							</div>
						</div>
					</div>							
					
					
					<button type="submit" class="btn btn-light navbar-btn" ><i class="fa fa-sign-in"  aria-hidden="true"></i>   Zaloguj się</button>
				
				</form>
			
			</div>
		
		</nav>
		
	</header>
	
	<main>
		
		{% for message in flash_messages %}
			<div class="alert alert-success">
				{{ message.body }}
			</div>
		{% endfor %}
							
		<section>
		
			<div class="container">
				
					<div class="row">
		
						<div class="col-lg-6 addExpense">
			
							 <form method="post" class="main-form"  action="/password/request-reset">
								<header>
										
									 <h1>Zresetuj hasło</h1>
									
								</header>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="inputEmail">Email</label>
											<div class="registrationInputWithIcon inputIconBg">
												<input type="email" id="inputEmail" name="email" placeholder="Email" autofocus required class="form-control inputRejestracja" />
												<i class="fa fa-key"  aria-hidden="true"></i>
											</div>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-success">Wyślij</button>
								<button type="button" class="btn btn-danger" onClick="location.href='/Home/index'">Anuluj</button>
							</form>
						</div>		
								
					</div>
				
			</div>
	
		</section>
										
	</main> 
{% endblock %}
