{% extends 'base.html' %}

{% block title %}Payment Methods{% endblock %}

{% block footer %}
	<script src="/js/application.js"></script>
	
	<script>
			$(document).ready(function() {
				
					$(".editMethodForm").each(function(){
						var methodID = $(this).find('#methodID').val();
						$(this).validate({
							rules: {
								methodName: {
									required: true,
									minlength: 3,
									maxlength: 20,
									remote: {
										url: '/Settingsexpense/validate-PaymentMethod',
										data: {
											ignore_id: function() {
												return methodID;
											}
										}
									}
								}
							},
							messages: {
								methodName: {
									required: 'Podaj nazwę metody płatności!',
									minlength: 'Nazwa metody płatności powinna zawierać od 3 do 20 znaków!',
									maxlength: 'Nazwa metody płatności powinna zawierać od 3 do 20 znaków!',
									remote: 'Metoda płatności o tej nazwie już istnieje!'
								}
							}
						});
					})	
					
					$("#addMethodForm").validate({
						rules: {
							methodName: {
								required: true,
								minlength: 3,
								maxlength: 20,
								remote: '/Settingsexpense/validate-PaymentMethod'
							}
						},
						messages: {
							methodName: {
								required: 'Podaj nazwę metody płatności!',
								minlength: 'Nazwa metody płatności powinna zawierać od 3 do 20 znaków!',
								maxlength: 'Nazwa metody płatności powinna zawierać od 3 do 20 znaków!',
								remote: 'Metoda płatności o tej nazwie już istnieje!'
							}
						}
					});
					
					$('form.payment').on('submit', function(){
						var that = $(this);
						if(! that.valid()) return false;
						else{
							url = that.attr('action'),
							type = that.attr('method'),
							id = that.attr('id'),
							data = {};
							
							that.find('[name]').each(function() {
								var that = $(this),
									name = that.attr('name'),
									value = that.val();					
								
								data[name] = value;
							}) ;
							
							$.ajax({
								url: url,
								type: type,
								data: data,
								async: false, 
								success: function(response) {
									$(that).load("/settingsexpense/modalPaymentSuccess");
								}
							});
							
							return false;
						}
						
					});		
			});
	</script>
{% endblock %}	
{% block body %}
	<header><h2 style="text-align:left">Istniejące metody płatności:</h2></header>
	<main>

		<div class="table-responsive">
			<table class="table table-hover table-sm table-condensed">
				<thead>
				</thead>
				<tbody>
					{% if payment is not empty %}
						{% for item in payment %}
								<tr>
									<td style="text-align:left"><input type="checkbox" name="{{item.name}}"/>{{item.name}}</td>
									<td class="text-right">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPaymentMethod{{loop.index}}" data-backdrop="static" data-keyboard="false"><i class="fa fa-pencil"  aria-hidden="true"></i></button>
										
										<div class="modal" id="editPaymentMethod{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" >
											<div class="modal-content">
												  <div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Edycja metody płatności:</h5>
												  </div>
												  <div style="text-align:left"  class="modal-body">
													<form action="/Settingsexpense/updatePaymentMethod" class="payment editMethodForm"  method="post" >
														<div class="form-group">
															<div class="registrationInputWithIcon inputIconBg">
																<input type = "text" class="form-control inputFinance" name="methodName" id="methodName"  value = "{{item.name}}"  require/>
																<i class="fa fa-dollar"  aria-hidden="true"></i>
															</div>
														</div>
														<div class="form-group">
															<input type = "hidden" id = "methodID"  name = "methodID" value = "{{item.paymentMethodAssignedToUserID}}" />
														</div>
													    <div class="modal-footer">
														  <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
														  <button type="submit"  class="btn btn-primary" >Zapisz</button>
													    </div>
													</form>
												  </div>
											</div>
										  </div>
										</div>
										
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target='#deletePaymentMethod{{loop.index}}' data-backdrop="static" data-keyboard="false"><i class="fa fa-times"  aria-hidden="true"></i></button>
										
										<div class="modal" id='deletePaymentMethod{{loop.index}}' tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" >
											<div class="modal-content">
												  <div class="modal-header">
													<h5 class="modal-title" id="deleteModalLabel">Potwierdzenie usunięcia metody płatności:</h5>
												  </div>
												  <div class="modal-body">
													<form action="/Settingsexpense/deletePaymentMethod" class="payment deleteForm" method="post" >
														<div class="form-group">
															<p style="text-align:left">Czy na pewno chcesz usunąć metodę płatności: "{{item.name}}" ?</p> 
															<input type = "hidden" id = "deletePaymentMethod"  name = "deletePaymentMethod" value = "{{item.name}}" />
														</div>
													    <div class="modal-footer">
														  <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
														  <button type="submit" class="btn btn-danger"  >Usuń</button>
													    </div>
													</form>
												  </div>
											</div>
										  </div>
										</div>
										
									</td>
								</tr>
							{% endfor %}
					{% endif %}
				</tbody>
			</table>
			<button type="button" class="btn btn-success" data-toggle="modal" data-target = '#addPaymentMethod' data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"  aria-hidden="true"></i>   Dodaj nową metodę płatności</button>
			
			<div class="modal" id="addPaymentMethod" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document" >
				<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nowa metoda płatności:</h5>
					  </div>
					  <div style="text-align:left"  class="modal-body">
						<form  action="/Settingsexpense/addPaymentMethod" id="addMethodForm"  class="payment"  method="post" >
							<div class="form-group">
								<div class="registrationInputWithIcon inputIconBg">
									<input type = "text" class="form-control inputFinance" id="methodName"  name="methodName" placeholder="metoda" require/>
									<i class="fa fa-dollar"  aria-hidden="true"></i>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
								<button type="submit"  class="btn btn-success" >Zapisz</button>
							</div>
						</form>
					  </div>
				</div>
			  </div>
			</div>
			
		</div>
	
	</main>

{% endblock %}
