<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
    <title>{% block title %}Home budget{% endblock %}</title>
	
	<meta name="description" content="Plan your revenues and expenses in advance. This program will allow you to optimize your home budget and learn to save." />
	<meta name="keywords" content="budget,home,save,income,revenue,expense" />
	
	<link rel="stylesheet" href="/BTcss/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>
	<link rel="stylesheet" href="/css/home.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>

	  {% block body %}
      {% endblock %}
   	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/application.js"></script>

</body>
</html>
